@import "assets/fonts/_fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
textarea {
    font-family: Roboto, sans-serif !important;
}

.transition-200 {
    @apply transition-all duration-200 ease-in-out
}